Repository spacetelescope/stsci.tools, pull requests merged in 2019-07, with the labels that each got.

#101 Fix ConstantValueHDUs to work with astropy 3.2
  .gitignore
  lib/stsci/tools/stpyfits.py
  setup.py
Labels: :fire:, bug

#102 Update test matrix
  .travis.yml
  conftest.py
  lib/stsci/tools/bitmask.py
  lib/stsci/tools/irafutils.py
Labels: enhancement, tests

#104 Fix RTD
  .readthedocs.yml
  .rtd-environment.yml
  MANIFEST.in
  readthedocs.yml
Labels: documentation

#105 Adding change log starting with v3.6.0
  CHANGES.rst
Labels: documentation
