Repository spacetelescope/stsci.tools, pull requests merged in 2021-08, with the labels that each got.

#137 Use absolute imports instead of relarive in unit tests
  lib/stsci/tools/tests/test_breadcrumb.py
  lib/stsci/tools/tests/test_cfgobj.py
  lib/stsci/tools/tests/test_check_files.py
  lib/stsci/tools/tests/test_compmixin.py
  lib/stsci/tools/tests/test_irafutils.py
  lib/stsci/tools/tests/test_isfits.py
  lib/stsci/tools/tests/test_minmatch.py
  lib/stsci/tools/tests/test_mputil.py
  lib/stsci/tools/tests/test_stpyfits.py
  lib/stsci/tools/tests/test_tkrotext.py
  lib/stsci/tools/tests/test_xyinterp.py
Labels: tests, code revision

#138 Use Python 'int' and 'float' type to avoid numpy warnings
  lib/stsci/tools/gfit.py
  lib/stsci/tools/linefit.py
  lib/stsci/tools/nmpfit.py
  lib/stsci/tools/tests/test_bitmask.py
Labels: tests

#136 Improve bitmask compatibility with numpy 1.21
  CHANGES.rst
  lib/stsci/tools/bitmask.py
Labels: code revision

#140 Update comments in bitmask
  lib/stsci/tools/bitmask.py
Labels: code revision

#139 Enhance mputil test to use different start methods
  lib/stsci/tools/tests/test_mputil.py
Labels: tests

#141 Fix unpickling of IrafPar
  CHANGES.rst
  lib/stsci/tools/basicpar.py
Labels: bug
